<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269178310904-c76o19sfeccerjkf34fekje79v35q765.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269178310904-c76o19sfeccerjkf34fekje79v35q765</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269178310904-9bjbb0pvb3bbqmorptmt1t7j5v7iggqc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlP-Serl3mzaSZn53VgOzFIWrxziP8Ul0</string>
	<key>GCM_SENDER_ID</key>
	<string>269178310904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dataCollection</string>
	<key>PROJECT_ID</key>
	<string>fir-testapp-1a80b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testapp-1a80b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269178310904:ios:ce590c1af643127653eb0d</string>
</dict>
</plist>